.contact {
  padding: 10px;
  text-align: center;
}

.contact .row {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  align-items: center;
  justify-content: center;
}

.contact .row .image {
  flex: 1;
  text-align: left;
  padding: 0 2rem; /* Adjusted padding for smaller screens */
}

.contact .row .image img {
  height: 700px;
  width: 700px;
  max-width: 100%; /* Ensure the image does not exceed the container */
  /* Ensure the image covers the container */
}

.contact .row .form-container {
  flex: 1;
  text-align: left;
  padding: 0 1rem; /* Adjusted padding for smaller screens */
  max-width: 600px; /* Limit the maximum width of the form container */
  margin: 0 auto; /* Center the form container horizontally */
}

.contact .row .form-container h2 {
  text-align: right;
}

.contact .row .form-container input,
.contact .row .form-container textarea {
  outline: none;
  border: none;
  height: 4rem;
  background: none;
  border-radius: .5rem;
  box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, .2);
  padding: 0 1rem; /* Adjusted padding for smaller screens */
  margin: 1rem 0;
  font-size: 1.4rem; /* Adjusted font size for smaller screens */
  width: 100%; /* Ensure the input fields take up full width */
}

.contact .row .form-container .inputBox {
  display: flex;
  justify-content: space-between;
}

.contact .row .form-container .inputBox input[type="text"] {
  width: 48%; /* Adjusted width for smaller screens */
}

.contact .row .form-container input[type="email"] {
  width: 100%;
}

.contact .row .form-container textarea {
  width: 100%;
  height: 7rem; /* Adjusted height for smaller screens */
  padding: 0.5rem; /* Adjusted padding for smaller screens */
  resize: none;
}

.contact .row .form-container input[type="submit"] {
  background-color: #2085ded8;
  color: #000;
  cursor: pointer;
  height: 3rem; /* Adjusted height for smaller screens */
  width: 100%;
}

.contact .row .form-container input[type="submit"]:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .contact .row {
    flex-flow: column;
  }

  .contact .row .image img {
    width: 400px;
    height: 300px;
  }

  .contact .row .form-container {
    padding: 0 1rem;
    margin: 0;
  }

  .contact .row .form-container textarea {
    height: 5rem;
  }
}
