.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(8px); /* Adjust the blur intensity as needed */
  z-index: 999;
}

.custom-modal .modal-dialog {
  margin: 0 auto;
  width: 200px; /* Adjust the width as desired */
  height: auto; /* Set to auto for variable height based on content */
}

.custom-modal .modal-content {
  height: auto;
  width: 70%;
  /* Adjust the background color and opacity as needed */
}

.custom-modal .modal-body {
  max-height: 70vh; /* Adjust the maximum height as desired */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the maximum height */
}

.custom-modal .modal-title {
  
}
span{
  color: red;
}
.modal{
  background-color: rgba(186, 184, 184, 0);
}
