@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500;600;700&family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');


* {
  font-family: 'Alkatra', cursive;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: 'Alkatra', cursive;
}

.heading {
  font-size: 50px;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
  margin-bottom: 20px;
  margin-top: 0;
  font-family: "poppins", sans-serif;
  letter-spacing: 3px;
}